/*  your css code here. If applicable */
.star{
	display:flex;
	position: relative;
	flex-direction: column;
}
.star span{
	position: absolute;
	height:3rem;
	width: 3rem;
	background-color: yellow;
}
#down{
	transform: skew(-30deg);
}
#up {
	transform:skew(30deg);
}
#left {
	transform: rotate(56deg) skew(30deg);
}